<div class="baner background-img mb-2">
    <div class="container">
        <div class="banr-card">
            <img src="../assets/images/hb-overly.png" class="b-over">
            <p class="title">NICE & SIMPLE</p>
            <h2>Fresh Bread,</h2>
            <h3>Fresh Start.</h3>
            <p>fresh baked goods for breakfast we deliver them to your door early in the morning.</p>
            <button class="h-button">Check PostCode</button>
            <img src="../assets/images/bb-box.png" class="bb-img" >
        </div>
    </div>
</div>

<div class="container cont-03">
    <div class="row">
        <div class="col-md-5"><img src="../assets/images/h-1.jpg" class="h-1"></div>
        <div class="col-md-7 p-2">
            <h2>Our Story</h2>
            <p>Aenean sollicitudin, lorem quis bibendum auctor, 
                nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet 
                nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a
                 odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat.<br><br>
                 But I must explain to you how all this mistaken idea of denouncing pleasure and 
                 praising pain was born and I will give you a complete account of the system.
                </p>
            <div class="lst">
                <i class="fa fa-check hl"></i>
                <p>Quisque mollis nisl non ultrices commodo.</p>
                <i class="fa fa-check hl"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
            <button class="h-button">About Us</button>
        </div>
    </div>
</div>

<div class="container cont-03">
    <div class="row">
            <h1 class="ch02">It work that simple</h1>
    </div>
    <div class="row my-5">
        <div class="txtcntr">
            <img src="../assets/images/icons/h-icon1.png" class="icons">
            <h5 class="my-3">Check</h5>
            <p>But I must explain to you how all this 
                mistaken idea of denouncing pleasure 
                and praising pain was born and I will 
                give you a complete account of the 
                system.</p>
        </div>
        <div class="txtcntr">
            <img src="../assets/images/icons/h-icon2.png" class="icons">
            <h5 class="my-3">To Order</h5>
            <p>But I must explain to you how all this 
                mistaken idea of denouncing pleasure 
                and praising pain was born and I will 
                give you a complete account of the 
                system.</p>
        </div>
        <div class="txtcntr">
            <img src="../assets/images/icons/h-icon3.png" class="icons">
            <h5 class="my-3">Enjoy Now</h5>
            <p>But I must explain to you how all this 
                mistaken idea of denouncing pleasure 
                and praising pain was born and I will 
                give you a complete account of the 
                system.</p>
        </div>
    </div>
</div>

<app-zip-serach></app-zip-serach>

<app-testy-slider></app-testy-slider>


<app-latest-post></app-latest-post>