<!-- main div start here -->
<ngx-spinner></ngx-spinner>
<div class="baner background-img"></div>
<div class="container my-5">

  <div class="row text-center mx-0 my-5">
    <div class="r-colr point" [class.activate]="showDiv>0" (click)="specificDiv(1)">
      <div class="round">1</div>
      <p class="my-2 r-txt">Availability</p>
    </div>
    <div class="col-1 lne"></div>

    <div class="r-colr point" [class.activate]="showDiv>1" (click)="specificDiv(2)">
      <div class="round">2</div>
      <p class="my-2 r-txt">Order</p>
    </div>

    <div class="col-1 lne"></div>
    <div class="r-colr point" [class.activate]="showDiv>2" (click)="specificDiv(3)">
      <div class="round">3</div>
      <p class="my-2 r-txt">Customer Account</p>
    </div>

  <div class="col-1 lne"></div>
  <div class="r-colr point" [class.activate]="showDiv>3" (click)="specificDiv(4)">
    <div class="round">4</div>
    <p class="my-1 r-txt">Summary</p></div>
  </div>

  <form [formGroup]="RegistrationForm">
    <div *ngIf="showDiv == 1" class="rrow my-2 p-4 ">
      <div *ngIf="!partnerInfo.id">
        <div class="row p-0 m-0">
          <p>No Partner Record found, It may happened that your partner is deleted</p>
        </div>
      </div>
      <div *ngIf="partnerInfo.id">
        <div class="row m-0 px-3 my-2 ">
          <h4 class="obh3">Available In Your Area</h4>
          <p class="obh3">The following Brotchengold partner regularly supplies you with fresh
            baked goods.
          </p>
        </div>
        <div class="row m-0 px-3">
          <div class="col-md-3 p-0">
            <img [src]="absPath(partnerInfo.image)" class="h-1">
          </div>
          <div class="col-md-9 px-5">
            <h5 class="mb-4">{{partnerInfo.name}}</h5>
            <div class="row mx-0 my-1">
              <img src="../assets/images/icons/b-icon1.png" class="icns">
              <p class="pt-2">{{partnerInfo.houseStreetNumber}}</p>
            </div>
            <div class="row mx-0 my-1">
              <img src="../assets/images/icons/email-icon.png" class="icns">
              <p class="pt-2">{{partnerInfo.email}}</p>
            </div>
            <div class="row mx-0 my-1">
              <img src="../assets/images/icons/phone-icon.png" class="icns">
              <p class="pt-2">{{partnerInfo.phone}}</p>
            </div>
            <button (click)='nextDiv()' class="a-button rbtn">Continue</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showDiv == 2" class="rrow my-2 p-4 ">
      <div class="container">
        <div class="row p-0">
          <div class="daybar mb-2">
            <label for="drop" class="toggle">Select Days <i class="fa fa-angle-down" aria-hidden="true"></i>
            </label>
            <input type="checkbox" id="drop" />
            <ul class="days">
              <li class="dc" (click)="selectedDay(day)" [class.activeDay]="day.day == activeDay" *ngFor="let day of tempDaysWithProduct">{{day.day}}</li>
              <li class="dc2 activeDay">Weekly price € {{overAllProductPrice}}</li>
            </ul>
          </div>
        </div>
        <p class="my-2 pointer">
          <span (click)="pop1(days)">Day Takeover</span>

          <span class="ml-3" (click)="pop2(delet)">Delete Selection</span>
        </p>
      </div>
      <div class="container my-3" *ngIf="isChanged">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <ng-container *ngFor="let category of categoryProducts; let i=index">
            <li [ngbNavItem]="i" >
              <a ngbNavLink>{{category.title}}</a>
              <ng-template ngbNavContent >
                <div class="row p-0 ">
                  <div class="col-md-4 mb-3" *ngFor="let product of category.Products">
                    <img [src]="absPath(product.image)" class="h-1">
                    <div class="row my-2 mx-1 orw">
                      <div class="title">{{product.name}}</div>
                      <div class="price">€ {{product.productPrice}}</div>
                    </div>
                    <p>Availability: Mon,Teu,Wed,Thur,Fri,Sat</p>
                    <div class="row my-2 mx-1 orw">
                      <div class="title">
                        <div class="stepper-input stepper__input">
                          <button class="cssCircle minusSign toggle-less" (click)="subtractProduct(product)">&#8211;</button>
                          <div class="stepper-input-field inptcnt" name="range-value" aria-atomic="true"
                            aria-live="polite" aria-relevant="all">
                            {{product.quantity}}
                          </div>
                          <button class="cssCircle plusSign toggle-more" (click)="addProduct(product)">&#43;</button>
                        </div>
                      </div>
                      <div class="price yellow">{{product.quantity}} *€ {{product.productPrice}}</div>
                    </div>
                  </div>
                  <div *ngIf="category.Products.length < 1" class="erroMessage">
                    <h4>Sorry, no products available on this day</h4>
                  </div>
                </div>
              </ng-template>
            </li>
          </ng-container>
          <div *ngIf="categoryProducts < 1" >
            <h4>Sorry, No category & product available on this day</h4>
          </div>
        </ul>


        <div [ngbNavOutlet]="nav" class="mt-2"></div>
        <div class="row p-0 m-0">
          <p class="my-2">
            The prices given apply to one item including VAT and excluding delivery charges.
            The delivery charges are € 0.75 each Monday to Friday and € 1.45 each on Saturdays,
            Sundays and public holidays. The delivery fee is charged per delivery.
            The minimum order value for your breakfast service is € 15.00 per 4 weeks
            (including delivery fee).
          </p>
          <div class="text-center rgful">
            <button class="a-button" (click)='nextDiv()'>Continue</button>
          </div>
        </div>
      </div>

      <ng-template #days let-modal>
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-2 text-center">
          <h3>Unfortunately, the following baked goods are not available</h3>
          <h4>Friday</h4>
          <p>All positions have been taken over</p>
          <h4>Wednessday</h4>
          <p>All positions have been taken over</p>
          <h4>Saturday</h4>
          <p>All positions have been taken over</p>
          <h4>Sunday</h4>
          <p>There will be no delivery on this day as<br>
            none of the baked goods ordered are <br>
            available:
          </p>
          <div class="">
            <p class="lm-01"><i class="fa fa-circle yellow mx-2 "></i> Rye mix 500 g</p>
            <p class="lm-01"><i class="fa fa-circle yellow mx-2 "></i> Heather bread 750 g</p>
            <p class="lm-01"><i class="fa fa-circle yellow mx-2 "></i> Pumpkin bread 750 g</p>
          </div>
          <h4>Monday</h4>
          <p>All positions have been taken over</p>
          <h4>Teusday</h4>
          <p>All positions have been taken over</p>
          <h4>Thursday</h4>
          <p>All positions have been taken over</p>
          <div class="text-center">
            <button class="a-button" (click)="modal.close('Save click')">Continue</button>

          </div>
        </div>
      </ng-template>


      <ng-template #delet let-modal>
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-5 text-center">
          <h3>For which days would you like to use the Monday selection</h3>
          <div class="row p-2">
            <ul class="ul1">
              <li>MON</li>
              <li>TEU</li>
              <li>WED</li>
              <li>THUR</li>
              <li>FRI</li>
            </ul>
            <ul class="ul2">
              <li>SAT</li>
              <li>SUN</li>
            </ul>
          </div>
          <div class="text-center mt-4">
            <button class="a-button" (click)="modal.close('Save click')">Continue</button>
          </div>
        </div>
      </ng-template>
    </div>

    <div *ngIf="showDiv == 3" class="rrow my-2 p-4">
      <div class="border border-light frm my-3">
        <h3 class="m-3">Access Data</h3>
        <div class="row m-0 px-0 my-1">
          <div class="col-md-12">
            <label>Phone *</label>
            <input type="text" id="company" formControlName="phone" class="form-control" >
            <span *ngIf="rf.phone.touched && rf.phone.invalid">
              <p class="text-danger">{{phoneError()}}</p>
            </span>
          </div>
        </div>
        <!-- <div class="row m-0 px-0 my-1">
          <div class="col-md-6 my-2">
            <label>Password</label>
            <input type="text" id="company" class="form-control" formControlName="password">
            <span *ngIf="rf.password.touched && rf.password.invalid">
              <p class="text-danger">{{passwordError()}}</p>
            </span>
          </div>
          <div class="col-md-6 my-2">
            <label>Confirm Password</label>
            <input type="text" id="firstname" class="form-control" formControlName="confirmPassword">
            <span *ngIf="rf.confirmPassword.touched && rf.confirmPassword.invalid">
              <p class="text-danger">{{confirmPasswordError()}}</p>
            </span>
          </div>
        </div> -->
        <h4 class="m-3">Delivery Address</h4>
        <div class="row m-0 px-0 my-1">
          <div class="col-md-12">
            <label>Salutation *</label>
            <select class="form-control" formControlName="salutation">
              <option value="Mr">Mr</option>
              <option value="Mrs">Mrs</option>
              <option value="Ms">Ms</option>
            </select>
            <span *ngIf="rf.salutation.touched && rf.salutation.invalid">
              <p class="text-danger">{{salutationError()}}</p>
            </span>
          </div>

          <!-- <div>
            <span *ngIf="rf.salutation.touched && rf.salutation.invalid">
              <p class="text-danger">{{salutationError()}}</p>
            </span>
          </div> -->
        </div>
        <div class="row m-0 px-0 my-1">
          <div class="col-md-6 my-2">
            <label>First Name*</label>
            <input type="text" id="company" class="form-control" formControlName="fName">
            <span *ngIf="rf.fName.touched && rf.fName.invalid">
              <p class="text-danger">{{fNameError()}}</p>
            </span>
          </div>
          <div class="col-md-6 my-2">
            <label>Surname *</label>
            <input type="text" id="firstname" class="form-control" formControlName="lName">
            <span *ngIf="rf.lName.touched && rf.lName.invalid">
              <p class="text-danger">{{lNameError()}}</p>
            </span>
          </div>
        </div>
        <div class="row m-0 px-0 my-1">
          <div class="col-md-12">
            <label>Company</label>
            <input type="text" id="company" class="form-control" formControlName="company">
          </div>
        </div>
        <div class="row m-0 px-0 my-1">
          <div class="col-md-12">
            <label>Road *</label>
            <input type="text" id="company" class="form-control" formControlName="houseStreetNumber">
            <span *ngIf="rf.houseStreetNumber.touched && rf.houseStreetNumber.invalid">
              <p class="text-danger">{{houseStreetNumberError()}}</p>
            </span>
          </div>
        </div>
        <div class="row m-0 px-0 my-1">
          <div class="col-md-6 my-2">
            <label>Postcode</label>
            <input type="text" id="company" class="form-control" formControlName="postalCode">
          </div>
          <div class="col-md-6 my-2">
            <label>Town</label>
            <input type="text" id="firstname" class="form-control" formControlName="town">
          </div>
        </div>
        <div class="row m-0 px-0 my-1">
          <div class="col-md-12">
            <label>Different Address</label>
            <input type="text" id="company" class="form-control" formControlName="differentAddress">
          </div>
        </div>
        <h4 class="m-3">Email Address</h4>
        <div class="row m-0 px-0 my-1">
          <div class="col-md-12">
            <label>E-mail *</label>
            <input type="text" id="company" class="form-control" formControlName="email">
            <span *ngIf="rf.email.touched && rf.email.invalid">
              <p class="text-danger">{{emailError()}}</p>
            </span>
          </div>
          <!-- <div>
            <span *ngIf="rf.email.touched && rf.email.invalid">
              <p class="text-danger">{{emailError()}}</p>
            </span>
          </div> -->
          <!-- <div class="col-md-6 my-2">
            <label>Repeat E-mail *</label>
            <input type="text" id="firstname" class="form-control" formControlName="confirmEmail">
            <span *ngIf="rf.confirmEmail.touched && rf.confirmEmail.invalid">
              <p class="text-danger">{{confirmEmailError()}}</p>
            </span>
          </div> -->
          <!-- <div>
            <span *ngIf="rf.confirmEmail.touched && rf.confirmEmail.invalid">
              <p class="text-danger">{{confirmEmailError()}}</p>
            </span>
          </div> -->
        </div>
        <h4 class="m-3">More Information</h4>
        <div class="row m-0 px-0 my-1">
          <div class="col-md-12">
            <label>Birthday *</label>
            <!-- <input type="text" id="company" class="form-control" formControlName="birthDay"> -->
            <input type="date" id="date" formControlName="birthDay" class="form-control" >
            <span *ngIf="rf.birthDay.touched && rf.birthDay.invalid">
              <p class="text-danger">{{birthdayError()}}</p>
            </span>
          </div>
        </div>
        <div class="row m-0 px-0 my-1">
          <div class="col-md-12">
            <label>Notes for the deliverer</label>
            <input type="text" id="company" class="form-control" formControlName="deliverNotes">
          </div>
        </div>
        <div class="row m-0 px-0 my-1">
          <div class="col-md-12">
            <label>Parties in the house</label>
            <input type="text" id="company" class="form-control" formControlName="partyInHouse">
          </div>
        </div>
        <div class="row m-0 px-0 my-1">
          <div class="col-md-12">
            <label>On the recommendation of</label>
            <input type="text" id="company" class="form-control" formControlName="recommendationOf">
          </div>
        </div>

        <h3 class="m-3">Consents</h3>
        <div class="row m-0 px-0 my-3">
          <div class="col-1"><input type="checkbox" formControlName="termCondition"></div>
          <div class="col-11">I acceptthe terms and conditions and the data protection
            regulations of my Brotchrngold partner. *
          </div>
        </div>
        <div class="row m-0 px-0 my-3">
          <div class="col-1"><input type="checkbox" formControlName="sendOffer"></div>
          <div class="col-11">I agree that my Morgengold partner can inform me
            by phone about their offer, new products or promotions and offer them to me.
            I consent to the use of my personal data required for this.<br><br>
            You can revoke your consent to your Morgengold partner at any time
            after receipt of the sample delivery (by telephone or in writing by
            e-mail or letter). You can find the contact details of the Morgengold
              partner responsible for you here . *

          </div>
        </div>
        <div class="row m-0 px-0 my-3">
          <div class="col-1"><input type="checkbox"></div>
          <div class="col-11">
            You can revoke your consent to your Morgengold partner at any time
            after receipt of the sample delivery (by telephone or in writing by
            e-mail or letter). You can find the contact details of the Morgengold
            partner responsible for you here . *<br><br>
            You can revoke your consent to your Morgengold partner at any time
            after receipt of the sample delivery (by telephone or in writing by
            e-mail or letter). You can find the contact details of the Morgengold
            partner responsible for you here . *

          </div>
        </div>

      </div>


      <button (click)='previousDiv()' class="a-button mr-5">Back</button>
      <button [disabled]='!rf.termCondition.value || !rf.sendOffer.value'
      [class.d-button]='!rf.termCondition.value || !rf.sendOffer.value' (click)='nextDiv()'
      class="a-button ml-5">Continue</button>
    </div>
  </form>

  <div *ngIf="showDiv == 4" class="rrow my-2 p-4">

    <div class="row m-0 px-3 my-2 ">
      <h5 class="obh3">Summary</h5>
      <p class="obh3">My Brotechengold Partner
      </p>
    </div>
    <div class="row m-0 px-3">
      <div class="col-md-3 p-0">
        <img [src]="absPath(partnerInfo.image)" class="h-1">
      </div>
      <div class="col-md-9 px-5">
        <h5 class="mb-4">{{partnerInfo.name}}</h5>
        <div class="row mx-0 my-1">
          <img src="../assets/images/icons/b-icon1.png" class="icns">
          <p class="pt-2">{{partnerInfo.houseStreetNumber}}</p>
        </div>
        <div class="row mx-0 my-1">
          <img src="../assets/images/icons/email-icon.png" class="icns">
          <p class="pt-2">{{partnerInfo.email}}</p>
        </div>
        <div class="row mx-0 my-1">
          <img src="../assets/images/icons/phone-icon.png" class="icns">
          <p class="pt-2">{{partnerInfo.phone}}</p>
        </div>

      </div>
    </div>

    <div class="row m-0 px-3 my-4 ">
      <div class="col-sm-3 my-1 bld">My Trial Order:</div>
      <!-- <div class="col-sm-9 my-1">Desired date: Tuesday, October 20, 2020</div> -->
      <div class="col-sm-9 my-1">Desired date: {{rf.desiredDate.value |  date:'fullDate'}}</div>
      <div class="col-sm-3 my-1 bld">My Phone Number:</div>
      <div class="col-sm-9 my-1">The phone number also serves as the registration name for logging in
        {{rf.phone.value}}</div>
      <div class="col-sm-3 my-1 bld">Delivery Address:</div>
      <div class="col-sm-9 my-1" *ngIf="rf.town.value; else other">{{rf.houseStreetNumber.value}} {{rf.town.value}}</div>
      <ng-template #other>{{rf.houseStreetNumber.value}}</ng-template>
      <!-- <div class="col-sm-9 my-1">Gabriel sufi, Helsaer Strabe, 34253 Lohfelden</div> -->
      <div class="col-sm-3 my-1 bld">Email Address:</div>
      <div class="col-sm-9 my-1">{{rf.email.value}}</div>
      <div class="col-sm-3 my-1 bld">More Information:</div>
      <div class="col-sm-9 my-1">My birthday: {{rf.birthDay.value | date: 'longDate'}}</div>
    </div>

    <div class="container my-5">
      <div class="row my-5">
          <h3 class="fh1">Your Order Review</h3>
      </div>
      <div class="cont-o1">
        <div class="row p-0">
            <p>Valid From: <span class="yellow pl-3">{{rf.desiredDate.value | date: 'longDate'}}</span></p>
        </div>

        <div class="row p-1 mb-3 " *ngFor="let review of orderOverview">
            <h5 class="mb-2 fl1">{{review.day}} <a (click)="specificDiv(2)" class="yellow cursor">(To Change)</a></h5>
            <ng-container *ngFor="let product of review.product">
              <div class="or-box" *ngFor="let subProd of product">
                <div class="col-10">{{subProd.quantity}} x {{subProd.name}}</div>
                <div class="col-2">€ {{subProd.productPrice}}</div>
            </div>
            </ng-container>
            <!-- <div class="or-box">
                <div class="col-10">1 x Rye mix 500 g</div>
                <div class="col-2">€ 3.50</div>
            </div>
            <div class="or-box">
                <div class="col-10">1 x Rye mix 500 g</div>
                <div class="col-2">€ 3.50</div>
            </div>
            <div class="or-box">
                <div class="col-10">1 x Rye mix 500 g</div>
                <div class="col-2">€ 3.50</div>
            </div>
            <div class="or-box">
                <div class="col-10">1 x Rye mix 500 g</div>
                <div class="col-2">€ 3.50</div>
            </div> -->
        </div>

        <!-- <div class="row p-1 mb-3 ">
            <h5 class="mb-2 fl1">Wednesday <a class="yellow">(To Change)</a></h5>
            <div class="or-box">
                <div class="col-10">1 x Rye mix 500 g</div>
                <div class="col-2">€ 3.50</div>
            </div>
            <div class="or-box">
                <div class="col-10">1 x Rye mix 500 g</div>
                <div class="col-2">€ 3.50</div>
            </div>
            <div class="or-box">
                <div class="col-10">1 x Rye mix 500 g</div>
                <div class="col-2">€ 3.50</div>
            </div>
            <div class="or-box">
                <div class="col-10">1 x Rye mix 500 g</div>
                <div class="col-2">€ 3.50</div>
            </div>
        </div> -->

        <div class=" row my-2 btm-brd">
            <div class="or-box py-2">
                <div class="col-10 rht"><h6>Weekly Rate:</h6></div>
                <div class="col-2">€ {{overAllProductPrice}}</div>
            </div>
        </div>
      </div>
    </div>

    <div class="row m-0 px-3 my-4 ">
      <h5 class="mb-4 obh3">My Declerations of Consents</h5>
      <div class="lst">
        <i class="fa fa-circle hl"></i>
        <p class="lm-01">I accept the terms and conditions and the privacy policy of my Brotchengold partner.</p>
        <i class="fa fa-circle hl"></i>
        <p class="lm-01">I agree that my Brotchengold partner can inform me by phone about their offer, new products
          or promotions and offer them to me. I consent to the use of my personal data required for this.
        <br>
        You can revoke your consent to your Brotchengold partner at any time after receipt of the
        sample delivery (by telephone or in writing by e-mail or letter). You can find the contact
        details of the Brotchengold partner responsible for you here .
        </p>
        <i class="fa fa-circle hl"></i>
        <p class="lm-01">I consent to my Brotchengold partner informing me about their offer,
           new products or promotions by email and offering them to me. I consent
           to the use of my personal data required for this.<br>
           You can revoke your consent to your Brotchengold partner at any
           time after receipt of the sample delivery (by telephone or in
           writing by e-mail or letter). You can find the contact details
           of the Brotchengold partner responsible for you <span class="yellow"> here. </span>
        </p>
        <h5 class="my-4 obh3">My Declerations of Consents</h5>
        <h6 class="my-1 obh3">Please check your details again for correctness
          before sending and correct any errors.</h6>
        <p>Without your consent that we may send you e-mails, we are not allowed
           to confirm your trial order via the Internet due to the applicable
           legal data protection regulations. In order to be able to clarify any
           questions that may arise about the trial order, we also need your
           consent that we can call you.<br>
           We ask for your understanding that we can only process your request
           online if you give your consent that we can send you emails or call you.<br>
           If you do not want that, you have the option of requesting your sample by phone.<br>
           You can revoke your consent that we may call you or inform you by email at any
            time to your personal Brotchengold breakfast service. By telephone or
            in writing (by email, fax or letter).<br>
            By submitting the page, you are not placing a paid order. However,
             you create a personal Morgengold customer account and consent to
             your data being electronically stored in order to perform the service.
        </p>
      </div>

    </div>
    <div class="text-center">
      <button class="a-button" (click)="createOrder()">Submit Order</button>
      <!-- <button class="d-button">Continue</button> -->
      <br>
      <a href="../imprint" class="yellow">Data Protection Imprint</a>
    </div>

    <!-- <button (click)='previousDiv()'>Back</button> -->

  </div>
</div>

