
<h2 class="my-4">Change Order</h2>
<div class="row mx-0">
    <h5>Long term order</h5>
    <p>With a long-term order, the ordered products are delivered fresh every week. 
        You no longer have to worry and automatically receive fresh products every week. 
        Standing orders can be changed or discontinued at any time.
    </p>

    <a [routerLink]="['/account/one-time']"><button class="a-button my-2">Set up or change recurring orders</button></a>
</div>
<div class="row mx-0 mt-2 ">
    <h5>One time order </h5>
    <p>With a one-time order, you define the delivery period. You will not 
        receive any automatic follow-up deliveries. One-time orders can be 
        changed or discontinued at any time.
    </p>

    <a [routerLink]="['/account/one-time']"> <button class="a-button my-3">Set up or change a one time order</button></a>
</div>