<div class="baner background-img"></div>

<div class="container my-5">
    <div class="row my-5">
        <h1 class="fh1">Frequently Asked Questions</h1>
    </div>
    <div class="cont-o1">
        <div class="row p-0">
            <p>Valid From: <span class="yellow pl-3">january 20, 2021</span></p>
        </div>

        <div class="row p-1 mb-3 ">
            <h5 class="mb-2 fl1">Friday <a href="#" class="yellow">(To Change)</a></h5>
            <div class="or-box">
                <div class="col-10">1 x Rye mix 500 g</div>
                <div class="col-2">€ 3.50</div>
            </div>
            <div class="or-box">
                <div class="col-10">1 x Rye mix 500 g</div>
                <div class="col-2">€ 3.50</div>
            </div>
            <div class="or-box">
                <div class="col-10">1 x Rye mix 500 g</div>
                <div class="col-2">€ 3.50</div>
            </div>
            <div class="or-box">
                <div class="col-10">1 x Rye mix 500 g</div>
                <div class="col-2">€ 3.50</div>
            </div>
        </div>

        <div class="row p-1 mb-3 ">
            <h5 class="mb-2 fl1">Wednesday <a href="#" class="yellow">(To Change)</a></h5>
            <div class="or-box">
                <div class="col-10">1 x Rye mix 500 g</div>
                <div class="col-2">€ 3.50</div>
            </div>
            <div class="or-box">
                <div class="col-10">1 x Rye mix 500 g</div>
                <div class="col-2">€ 3.50</div>
            </div>
            <div class="or-box">
                <div class="col-10">1 x Rye mix 500 g</div>
                <div class="col-2">€ 3.50</div>
            </div>
            <div class="or-box">
                <div class="col-10">1 x Rye mix 500 g</div>
                <div class="col-2">€ 3.50</div>
            </div>
        </div>

        <div class=" row my-2 btm-brd">
            <div class="or-box py-2">
                <div class="col-10 rht"><h6>Weekly Rate:</h6></div>
                <div class="col-2">€ 3.50</div>
            </div>

            <button class="h-button ml-5">Order for a Fee</button>
        </div>


    </div>
</div>