<div class="top-header">
  <div class="container">
    <nav class="navbar">
      <a [routerLink]="['home']" class="brand">
        <img src="../assets/images/brotchengoldlogo.png" alt="BrotchenGold">
      </a>

      <button class="toggler" (click)="toggleClasses()">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </button>

      <div class="nav-list-container top-menu">
        <ul class="nav-list">
          <li><a [routerLink]="['home']">Home</a></li>
          <li><a [routerLink]="['breakfast']">Breakfast Service</a></li>
          <li><a [routerLink]="['about-us']">About</a></li>
          <li><a [routerLink]="['franchies']" >Franchies</a></li>
          <li><a [routerLink]="['']">Online Journal</a></li>
          <li><a [routerLink]="['auth/login']" class="lgn">Login</a></li>
        </ul>
      </div>
    </nav>

  </div>
</div>
