<div class="top-header">
  <div class="container">
    <nav class="navbar">
      <a href="#" class="brand">
        <img src="../assets/images/brotchengoldlogo.png" alt="BrotchenGold">
      </a>

      <button class="toggler">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </button>

      <div class="nav-list-container top-menu">
        <ul class="nav-list">
          <li><a href="#">Home</a></li>
          <li><a href="#">Breakfast Service</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Franchies</a></li>
          <li><a href="#">Online Journal</a></li>
          <li><a class="lgn">Login</a></li>
        </ul>
      </div>
    </nav>

  </div>
</div>
