
    <h1 class="center mt-4">Our Happy Customer</h1>
          
<div class="cont-5 background-img">
    <div class="container">
        <section class="customer-revs">
            <div class="slideshow-container">
              <div class="mySlides">
                <div class="mySlidesContainer">
                    <img src="../assets/images/testi-1.png">
                    <div class="ratings my-2">
                        <i class="fa fa-star yellow"></i>
                        <i class="fa fa-star yellow"></i>
                        <i class="fa fa-star yellow"></i>
                        <i class="fa fa-star yellow"></i>
                        <i class="fa fa-star yellow"></i>
                    </div>
                  <q>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium 
                    voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                     cupiditate non provident, similique sunt in culpa qui officia deserunt
                    mollitia animi
                  </q>
                </div>
                <p class="author"><span>Joe Bloggs</span></p>
              </div>
          
              <!-- <div class="mySlides">
                <div class="mySlidesContainer">
                  <q>
                    Vivamus est felis, tempor sed mauris ac, malesuada sollicitudin ipsum. Etiam nec ullamcorper nibh, ac pretium sapien. Donec pharetra sollicitudin ligula, sit amet ornare nisi vestibulum et.
                  </q>
                </div>
                <p class="author">By: <span>Jane Doe</span></p>
              </div>
          
              <div class="mySlides">
                <div class="mySlidesContainer">
                  <q>
                    Mauris malesuada, ex at volutpat euismod, velit diam placerat lacus, eu rhoncus enim metus ultricies nisi. Mauris pharetra tristique nisl.</q>
                </div>
                <p class="author">By: <span>John Doe</span></p>
              </div> -->
          
              <a class="prev"><i class="fa fa-arrow-left"></i></a>
              <a class="next"><i class="fa fa-arrow-right"></i></a>
          
            </div>
            <div class="dot-container">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
          
          </section>
    </div>
</div>
