<div class="baner background-img">
    <div class="container py-5">
        <div class="banner-detail">
            <h2 class="ah1">Data Protection</h2>

        </div>
    </div>
</div>

<div class="container mar-up">
    <div class="row">
        <div class="col-md-6 p-0"><img src="../assets/images/imprint-img1.jpg" class="h-1"></div>
        <div class="col-md-6 pl-3 py-4 bgwhite">
            <h4>Data Protection</h4>
            <div class="row px-2 mt-3">
                <img src="../assets/images/icons/b-icon1.png" class="icons">
                <p class="addres">1282 Vick Rd, Effie, LA, 71331 Germany</p>
            </div>
            <div class="row px-2 mt-3">
                <img src="../assets/images/icons/phone-icon.png" class="icons">
                <p class="phone">0711/658 30 7-69 </p>

                <img src="../assets/images/icons/email-icon.png" class="icons">
                <p class="addres">sufi22@brotchengold.de</p>
            </div>

            <div class="row px-3 mt-2">
                <div class="ad-detail tb">Managing Director:</div>
                <div class="ad-detail ">Paul Warner, Adam Abdulla</div>
                <div class="ad-detail tb">Commercial register:</div>
                <div class="ad-detail">District Court Stuttgart, HRB 17096</div>
                <div class="ad-detail tb">Sales tax identification number:</div>
                <div class="ad-detail">ID 172164306</div>
            </div>
            <p>The European Commission provides a platform for online
                 dispute resolution, which you can find here <br>
                 <a href="http://ec.europa.eu/consumers/odr/" class="yellow">http://ec.europa.eu/consumers/odr/</a>  
                </p>
                <p>
                    We do not take part in a dispute settlement procedure before a consumer
                     arbitration board.
                </p>
        </div>
    </div>
</div>