<!-- main div start here -->
<div class="container my-5">

<div class="row text-center m-0">
  <div class="r-colr activate point">
    <div class="round">1</div>
    <p class="my-2 r-txt">Availability</p>
  </div>
  <div class="col-1 lne"></div>

  <div class="r-colr point">
    <div class="round">2</div>
    <p class="my-2 r-txt">Desired Date</p>
  </div>

  <div class="col-1 lne"></div>
  <div class="r-colr point">
    <div class="round">3</div>
    <p class="my-2 r-txt">Customer Account</p>
  </div>

  <div class="col-1 lne"></div>
  <div class="r-colr point">
    <div class="round">4</div>
    <p class="my-1 r-txt">Summary</p></div>
</div>

<div>
  <div *ngIf="showDiv == 1">
    DIV 1 IS HERE....... <br>
    <button (click)='nextDiv()'>Continue</button>
  </div>
  <div *ngIf="showDiv == 2">
    DIV 2 IS HERE....... <br>
    <button (click)='previousDiv()'>Back</button>
    <button (click)='nextDiv()'>Continue</button>
  </div>
  <div *ngIf="showDiv == 3">
    DIV 3 IS HERE....... <br>
    <button (click)='previousDiv()'>Back</button>
    <button (click)='nextDiv()'>Continue</button>
  </div>
  <div *ngIf="showDiv == 4">
    DIV 4 IS HERE....... <br>
    <button (click)='previousDiv()'>Back</button>
    <button >Submit</button>
  </div>
</div>

</div>