.r-colr{
    width:18%;
    float: left;
    text-align: center;
}
.r-colr p{
    width: 100%;
}
.r-coll{
    width: 10%;
    float: left;
}
.round{
    width: 60px;
    background-color: #b8b8b8;
    color: #fff;
    border-radius: 50%;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    font-size: 1.5rem;
}
.r-txt{
    color: #b8b8b8;
}
.activate .r-txt{
    color: #000;
}
.activate .round{
    background-color: #ffdf00;
}
.point{
    cursor: pointer;
}
.lne{
    border: 2px solid #b8b8b8;
    height: 1px;
    margin-top: 2rem;
    background-color: #b8b8b8;
}
.h-1{
    width: 100%;
    height: auto;
    border-radius: 12px;
}

@media(max-width:768px){
    .col-md-9 {
        padding: 0 1rem !important;
        margin-top: 1rem;
    }
}


