<div class="baner background-img">
    <div class="container py-5">
        <div class="banner-detail">
            <h2 class="ah1">Data Protection</h2>
            
        </div>
    </div>
</div>

<div class="container mar-up">
    <div class="row">
        <div class="col-md-6 p-0"><img src="../assets/images/data-img1.jpg" class="h-1"></div>
        <div class="col-md-6 p-3 bgwhite">
            <h4>Data Protection</h4>
            <p>Insofar as personal data (e.g. name, address or email address) is collected on our website, 
                this is always done on a voluntary basis as far as possible. These data will not be passed
                 on to third parties without your express consent.
                <br><br>
                We point out that data transmission over the Internet (e.g. when communicating by e-mail) 
                can have security gaps. A complete protection of the data against access by third parties 
                is not possible.
                <br><br>
                We hereby expressly object to the use of the contact data published in the context
                 of the imprint obligation by third parties for sending unsolicited advertising 
                 and information material. The operators of the pages expressly reserve the right 
                 to take legal action in the event of unsolicited sending of advertising information,
                  such as spam emails.
                  <br><br>
                  Further details on data protection can be found in the .<br>
                  <a href="#" class="yellow">Brotchengold data protection declaration</a>
            </p>
        </div>
    </div>
</div>
