<ngx-spinner></ngx-spinner>
<h3>Order History</h3>
<p>This page lists all orders and transactions that have been made so far.<br>
    Click on the information icon to see individual orders and processes in detail.

</p>
<div class="row m-0 my-4">

    <table class="table">
        <thead>
            <th>Date</th>
            <th>Process</th>
            <th>Valid From</th>
            <th>Date of Expiry</th>
        </thead>
        <tbody>
            <tr class="tb-row tr2" *ngFor="let order of orderHistory">
                <td>{{order.createdAt | date: 'shortDate'}}</td>

                <td *ngIf="order.isActive">Active</td>
                <td *ngIf="!order.isActive">Completed</td>
                <td>{{order.validFrom | date: 'shortDate'}}</td>
                <td *ngIf="order.expiryDate">{{order.expiryDate | date: 'shortDate'}}</td>
                <td *ngIf="!order.expiryDate">-</td>
            </tr>
            <!-- <tr class="tb-row ">
                <td>12/02/21</td>
                <td>Completed</td>
                <td>09-01-21</td>
                <td>20-02-21</td>
            </tr>
            <tr class="tb-row tr2">
                <td>12/02/21</td>
                <td>Completed</td>
                <td>01-01-21</td>
                <td>20-02-21</td>
            </tr> -->
        </tbody>
    </table>
</div>
