<div class="baner background-img">
    <div class="container py-5">
        <div class="banner-detail">
            <h2 class="ah1">Your Advantages As A Partner</h2>
            <p class="mt-3"> As a franchisee, we offer you the basis for
                your business success.
            </p>
        </div>
    </div>
</div>

<div class="container mar-up">
    <div class="row">
        <div class="col-md-6"><img src="../assets/images/franchies-img1.jpg" class="h-1"></div>
        <div class="col-md-6 p-3 bgwhite">
            <h4>Your Benefit From This From Day One</h4>
            <p>Brotchengold not only provides you with the brand name, but we also actively
                support you in preparing new franchise areas for the market. Starting with the
                location search to the investment calculation up to the profitability forecast
                with which you can win over banks or investors for your project.

                <br><br>
                In advance, you will also have the opportunity to look over
                the shoulder of an experienced Morgengold partner for several days in everyday operations.
            </p>
            <div class="lst">
                <i class="fa fa-circle hl"></i>
                <p>You can control your Brotchengold business from anywhere, wherever 
                    you have an Internet connection
                </p>
                <i class="fa fa-circle hl"></i>
                <p>Your customers can easily and comfortably process their orders over
                     the Internet. And that around the clock.
                </p>
                <i class="fa fa-circle hl"></i>
                <p>Your service drivers will receive their complete exit list for the 
                    next day the evening before.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container py-4 my-5">
    <div class="row">
        <div class="col-md-6 p-3">
            <h4>Valuable Know-How:<br> Experience Always At Hand</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.

                <br><br>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore .
            </p>
        </div>
        <div class="col-md-6"><img src="../assets/images/franchies-img3.jpg" class="h-1"></div>
    </div>
</div>

<div class="container  my-5">
    <div class="row">
        <div class="col-md-6"><img src="../assets/images/franchies-img2.jpg" class="h-1"></div>
        <div class="col-md-6 p-3">
            <h4>Brotchengold Academy:<br> Advice And Tranning</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                <br><br>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore .
            </p>
        </div>

    </div>
</div>

<app-zip-serach></app-zip-serach>

<div class="container py-4 my-5">
    <div class="row">
        <div class="col-md-6 p-3">
            <h4>The Brotchengold Regio ConceptT: Lucrstive Entry</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.

                <br><br>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore .
            </p>
        </div>
        <div class="col-md-6"><img src="../assets/images/franchies-img4.jpg" class="h-1"></div>
    </div>
</div>