<h3 >Order Interuption</h3>
<div class="row m-0">    
    <button class="a-button my-4">New Request</button>
    <p class="obh3">No Interuptions have been created so far</p>
</div>
<div class="row m-0">
    <span class="infoicon"><i class="fa fa-info"></i></span>
    <div class="infobox">
        <p>Order interruptions are particularly useful if you have set up a standing order. 
            If you do not want to receive a delivery for a certain period of time, e.g. 
            because you are on vacation, you can stop the delivery for this period. 
            After the interruption in your order, you will receive your order as usual 
            and fully automatically. </p>
    </div>
  </div>