<div class="baner background-img">
    <div class="container py-5">
        <div class="banner-detail">
            <h2 class="ah1">Our Breakfast Service</h2>
            <p class="mt-2"> Enjoy fresh baked goods within your four walls.
            </p>
        </div>
    </div>
</div>

<div class="container my-5 py-4">
    <div class="row">
        <div class="col-md-5"><img src="../assets/images/break-img1.jpg" class="h-1"></div>
        <div class="col-md-7 p-3">
            <h4>Good Morning, Breakfast is Here</h4>
            <p>Fresh baked goods for breakfast whenever you want Brotchengold brings them to
                 your front door early in the morning. Week after week. On one or more days,
                  on weekdays and also on weekends. Save yourself the trip to the bakery and
                   gain valuable time in the early morning.

                <br><br>
                Brotchengold breakfast services have been supplying breakfast friends punctually
                 and reliably with baked goods from regional craft bakeries since 1991. More than 
                 100,000 households in Germany and Austria now use this pleasant and environmentally
                  conscious service.
                </p>
        </div>
    </div>
</div>

<div class="baner2 background-img">
    <div class="container py-5">
            <h2 class="bh1">The three principles<br>
                on which we Work</h2>
    </div>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="../assets/images/icons/b-icon1.png" class="icons">
            <h5 class="my-3">Range</h5>
            <p>Lorem ipsum dolor sit amet, nsecadipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="../assets/images/icons/b-icon2.png" class="icons">
            <h5 class="my-3">Delivery</h5>
            <p>Lorem ipsum dolor sit amet, nsecadipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="../assets/images/icons/b-icon3.png" class="icons">
            <h5 class="my-3">Just Pay</h5>
            <p>Lorem ipsum dolor sit amet, nsecadipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
    </div>
</div>

<app-zip-serach></app-zip-serach>