<ngx-spinner></ngx-spinner>
<div class="row m-0 px-5 pmob">
    <h3>Change Password</h3>

    <div class="border border-light frm my-3">
      <div class="form-row mb-4" *ngIf="!currentValidPassword">
        <div class="col-md-10">
          <label>Enter Current Password</label>
          <input type="password" id="company" [(ngModel)]="currentPassword" class="form-control" placeholder="**********">
        </div>
      </div>
      <div class="form-row mb-4" *ngIf="currentValidPassword">
        <div class="col-md-6">
          <label>New Password</label>
          <input type="password" id="company" [(ngModel)]="newPassword" class="form-control" placeholder="**********">
        </div>
        <div class="col-md-6">
          <label>Repeat New Password</label>
          <input type="password" id="firstname" [(ngModel)]="confirmNewPassword" class="form-control" placeholder="**********" >
        </div>
      </div>

      <button class="a-button my-4" *ngIf="!currentValidPassword" (click)="validatePassword()">Enter</button>
      <button class="a-button my-4" *ngIf="currentValidPassword" (click)="changePassword()">Apply Changes</button>
    </div>
</div>

<div class="row m-0">
  <span class="infoicon"><i class="fa fa-info"></i></span>
  <div class="infobox">
      <p>Your password can only consist of numbers and letters. Special charactor or not allowed.<br>
        If you forgot your password, you can have it sent to your email address when you login.
    </p>
  </div>
</div>
