<div class="row m-0 px-5">
    <h3>Your Billing Addresss</h3>

    <form class="border border-light frm my-3">
        <div class="form-row mb-4">
        <div class="col-md-6">
          <label>New Password</label>
          <input type="text" id="company" class="form-control" placeholder="**********">
        </div>
        <div class="col-md-6">
          <label>Repeat New Password</label>
          <input type="text" id="firstname" class="form-control" placeholder="**********" >
        </div>
      </div>
      
      <button class="a-button my-4">Apply Changes</button>
    </form>
</div>

<div class="row m-0">
  <span class="infoicon"><i class="fa fa-info"></i></span>
  <div class="infobox">
      <p>Your password can only consist of numbers and letters. Special charactor or not allowed.<br>
        If you forgot your password, you can have it sent to your email address when you login.
    </p>
  </div>
</div>