<ngx-spinner></ngx-spinner>
<h3>All Recurring Orders</h3>
<p>This page lists all recurring orders that have been made so far.<br>
  Select order from list to change it.
</p>
<div class="row m-0 my-4">
    <table class="table">
        <thead>
            <th>Date</th>
            <th>Process</th>
            <th>Type</th>
            <th>Valid From</th>
            <th>Date of Expiry</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr class="tb-row tr2" *ngFor="let order of orderHistory">
                <td>{{order.createdAt | date: 'shortDate'}}</td>
                <td>{{order.status}}</td>
                <td *ngIf="order.isTrail">Sample</td>
                <td *ngIf="!order.isTrail">Regular</td>
                <td>{{order.validFrom | date: 'shortDate'}}</td>
                <td *ngIf="order.expiryDate">{{order.expiryDate | date: 'shortDate'}}</td>
                <td *ngIf="!order.expiryDate">-</td>
                <td class="text-center ">
                  <a *ngIf="order.isActive" [routerLink]="['/account/recurring-change', order.id]">
                    <i class="fa fa-edit black"></i>
                  </a>
                  &nbsp;
                  <a *ngIf="order.isActive" (click)="onDelete(order)">
                    <i class="fa fa-trash black"></i>
                  </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
