<div class="col-md-3 desktop-menu">
    <div class="acnt-menu" id="acnt-menu" open>
        <h4>Order</h4>
        <ul class="menu-ul" id="menu-ul">
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links actives">Create</a></li>
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Change</a></li>
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Interrupt</a></li>
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Order Additionally</a></li>
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Order History</a></li>
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Invoice History</a></li>
        </ul>
        <h4>Accounting</h4>
        <ul class="menu-ul" id="menu-ul">
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Bills</a></li>
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Credits</a></li>
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Payment Option</a></li>
        </ul>
        <h4>Your Data</h4>
        <ul class="menu-ul" id="menu-ul">
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Personal Details</a></li>
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Delivery Addres</a></li>
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Billing Address</a></li>
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Password</a></li>
        </ul>
        <h4>Contact</h4>
        <ul class="menu-ul" id="menu-ul">
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#">Contact </a></li>
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#">Imprint</a></li>
        </ul>
    </div>
</div>


<!-- /////////////////////////////////////// -->

<div class="col-md-3 mobile-menu">
    <div class="acnt-mtogle" (click)="showMyContainer=!showMyContainer">Sidebar</div>
   
    <div class="acnt-menu" *ngIf="showMyContainer">
        <h4>Order</h4>
        <ul class="menu-ul" id="menu-ul">
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links actives">Create</a></li>
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Change</a></li>
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Interrupt</a></li>
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Order Additionally</a></li>
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Order History</a></li>
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Invoice History</a></li>
        </ul>
        <h4>Accounting</h4>
        <ul class="menu-ul" id="menu-ul">
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Bills</a></li>
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Credits</a></li>
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Payment Option</a></li>
        </ul>
        <h4>Your Data</h4>
        <ul class="menu-ul" id="menu-ul">
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Personal Details</a></li>
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Delivery Addres</a></li>
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Billing Address</a></li>
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#" class="links">Password</a></li>
        </ul>
        <h4>Contact</h4>
        <ul class="menu-ul" id="menu-ul">
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#">Contact </a></li>
            <i class="fa fa-circle yellow fl"></i>
            <li><a href="#">Imprint</a></li>
        </ul>
    </div>
</div>