<div class="row p-0 m-0">
    <div class="col-md-6 p-0 c101">
        <img src="../assets/images/login.jpg" class="h-1">
    </div>
    <div class="col-md-6 mob-ful c102 ">
        <div class="login ">
            <div class="login-logo mb-4 text-b">
                <a href="#" ><img src="../assets/images/brotchengoldlogo.png" alt="BrotchenGold"></a>
            </div>
            <h4>Please Log In</h4>
            <p class="mb-1">You don't have a password or have you forgotten your password?</p>
            <a href="#" class="yellow">Reser Password.</a>
        </div>
        <form class="login-from ">
            <div class="form-group">
                <label for="exampleInputEmail1">Phone</label>
                <input type="email" class="form-control" id="phone" aria-describedby="emailHelp" placeholder="+123123144" autocomplete="off">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="password" placeholder="*********" autocomplete="off"> 
              </div>
              <a [routerLink]="['/account']"><button class="sub-btn">Login</button></a>
        </form>
        <p class="my-2">Not a Brotchengold customer yet? Please <a [routerLink]="['/register']" class="yellow">register here.</a></p>
    </div>

</div>