<div class="baner background-img">
    <div class="container py-5">
        <div class="banner-detail">
            <h2 class="ah1">Frequently Asked Questions</h2>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row my-5">
        <h1 class="fh1">Frequently Asked Questions</h1>
        <p class="fp">Here you will find answers to questions that customers often ask us.
             If you have a question that is not answered there, you can send it to us directly. 
        </p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <details open>
                <summary>1. Can I order just one delivery?</summary>
                <div class="faq__content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor suscipit, iure tenetur eveniet,
                        vero tempore delectus? Perferendis, quisquam ullam consequuntur?</p>
                </div>
            </details>

            <details>
                <summary>2. How long do I have to use the baked goods?</summary>
                <div class="faq__content">
                    <p>Fugiat quo voluptas nulla pariatur? Et iusto odio dignissimos ducimus qui blanditiis praesentium
                        voluptatum deleniti atque. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                        ab illo.</p>
                </div>
            </details>

            <details>
                <summary>3. When are the baked goods delivered?</summary>
                <div class="faq__content">
                    <p>Fugiat quo voluptas nulla pariatur? Et iusto odio dignissimos ducimus qui blanditiis praesentium
                        voluptatum deleniti atque. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                        ab illo.</p>
                </div>
            </details>

            <details>
                <summary>4. Do I have to order daily?</summary>
                <div class="faq__content">
                    <p>Fugiat quo voluptas nulla pariatur? Et iusto odio dignissimos ducimus qui blanditiis praesentium
                        voluptatum deleniti atque. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                        ab illo.</p>
                </div>
            </details>

            <details>
                <summary>5. Do I have to get up to receive the baked goods?</summary>
                <div class="faq__content">
                    <p>Fugiat quo voluptas nulla pariatur? Et iusto odio dignissimos ducimus qui blanditiis praesentium
                        voluptatum deleniti atque. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                        ab illo.</p>
                </div>
            </details>
        </div>
        <div class="col-md-6">
            <details>
                <summary>6. How do I pay for the baked goods?</summary>
                <div class="faq__content">
                    <p>Fugiat quo voluptas nulla pariatur? Et iusto odio dignissimos ducimus qui blanditiis praesentium
                        voluptatum deleniti atque. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                        ab illo.</p>
                </div>
            </details>
            <details>
                <summary>7. What do the baked goods cost?</summary>
                <div class="faq__content">
                    <p>Fugiat quo voluptas nulla pariatur? Et iusto odio dignissimos ducimus qui blanditiis praesentium
                        voluptatum deleniti atque. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                        ab illo.</p>
                </div>
            </details>
            <details>
                <summary>8. Where are the baked goods produced?</summary>
                <div class="faq__content">
                    <p>Fugiat quo voluptas nulla pariatur? Et iusto odio dignissimos ducimus qui blanditiis praesentium
                        voluptatum deleniti atque. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                        ab illo.</p>
                </div>
            </details>
            <details>
                <summary>9. What do I do if there are rolls missing?</summary>
                <div class="faq__content">
                    <p>Fugiat quo voluptas nulla pariatur? Et iusto odio dignissimos ducimus qui blanditiis praesentium
                        voluptatum deleniti atque. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                        ab illo.</p>
                </div>
            </details>
            <details>
                <summary>10. Do you also deliver on Sundays and public holidays?</summary>
                <div class="faq__content">
                    <p>Fugiat quo voluptas nulla pariatur? Et iusto odio dignissimos ducimus qui blanditiis praesentium
                        voluptatum deleniti atque. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                        ab illo.</p>
                </div>
            </details>
            <details>
                <summary>11. I forgot my password! What do I have to do?</summary>
                <div class="faq__content">
                    <p>Fugiat quo voluptas nulla pariatur? Et iusto odio dignissimos ducimus qui blanditiis praesentium
                        voluptatum deleniti atque. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                        ab illo.</p>
                </div>
            </details>
        </div>
    </div>
</div>