<ngx-spinner></ngx-spinner>
<h3>Invoice History</h3>
<p>
  This page lists all the invoices that you have recived so far: Click on the information icon if
  you want to view individual invoices in detail.
</p>
<div class="row my-4 mx-0">
  <table class="table">
    <thead>
        <th >Bill Date</th>
        <th>Bill Number</th>
        <th></th>
    </thead>
    <tbody>
      <tr class="tb-row " [class.tr2]="i%2==0" *ngFor="let invoice of invoiceHistory; let i=index">
        <td>{{invoice.createdAt | date:"shortDate"}}</td>
        <td>{{invoice.invoiceNumber}}</td>
        <!-- <td>${{invoice.amount | number}}</td> -->
        <td class="text-center "><i class="fa fa-eye black"></i></td>
      </tr>
      <!-- <tr class="tb-row">
        <td>Onion Bread</td>
        <td>#234234</td>
        <td class="text-center "><i class="fa fa-eye black"></i></td>
      </tr> -->
    </tbody>
  </table>
</div>
