<h2 class="my-4">Your Delivery Address</h2>

<div class="row m-0 ">
    <form class="border border-light frm my-3">
        <div class="form-row mb-4">
            <div class="col-md-6">
                <label>Your Customer Number</label>
                <input type="text"  class="form-control">
            </div>
            <div class="col-md-6">
                <label>First Name</label>
                <input type="text"  class="form-control">
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col-md-6">
                <label>Surname</label>
                <input type="text"  class="form-control">
            </div>
            <div class="col-md-6">
                <label>Road</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col-md-6">
                <label>Postcode</label>
                <input type="text"  class="form-control">
            </div>
            <div class="col-md-6">
                <label>Place of Residence</label>
                <input type="text"  class="form-control">
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col-md-6">
                <label>E-mial</label>
                <input type="text"  class="form-control">
            </div>
            <div class="col-md-6">
                <label>Phone</label>
                <input type="text"  class="form-control">
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col-md-12">
                <label>Delivery Notes</label>
                <textarea class="form-control" rows="5"></textarea>
            </div>
        </div>
        <button class="a-button my-4">Apply Changes</button>
    </form>
</div>

<div class="row m-0">
    <span class="infoicon"><i class="fa fa-info"></i></span>
    <div class="infobox">
        <p>Please contact us if your delivery address changes. we will then check weather we can also deliver
            to your new address. You cannot change your delivery address yourself at this point.
        </p>
    </div>
</div>