<div class="row p-0  m-0">
    <h3 class="obh3">Create Order</h3>
    <h6 class="obh3 my-2">You setup a standing order:</h6>
    <p class="obh3">On the left, select the date from which your order should be valid.</p>

</div>
<div class="form-row mb-4 mx-0">
    <div class="col-md-6">
        <label>Valid From</label>
        <input type="date" class="form-control">
    </div>
</div>
<div class="row my-3 mx-0">
    <button class="a-button">Create a changeable order</button>
    <button class="a2-button mx-3">Empty From</button>
</div>

<div class="row p-0 mx-0">
    <ul class="ul-one bg-yellow">
        <li>Order Cost Per Week</li>
        <li>Products: 0.00 €</li>
        <li>Delivery Charges: 0.00 €</li>
        <li>Total: 0.00 €</li>
    </ul>
</div>

<div class="row p-0 mx-0">
    <table class="table tbl">
        <thead>
            <th>Bread rolls & pretzels</th>
            <th> </th>
            <th> </th>
            <th>Sat</th>
            <th>Sun</th>
        </thead>
        <tbody>
            <tr>
                <td><img src="../assets/images/share/1.jpg" class="one-img"></td>
                <td>Ripper rolls</td>
                <td>0.40</td>
                <td><span>
                    <input style="width: 45px;" type="number">
                  </span></td>
                <td><span>
                    <input style="width: 45px;" type="number">
                  </span></td>
            </tr>
            <tr>
                <td><img src="../assets/images/share/2.jpg" class="one-img"></td>
                <td>Ripper rolls</td>
                <td>0.40</td>
                <td><span>
                    <input style="width: 45px;" type="number">
                  </span></td>
                <td><span>
                    <input style="width: 45px;" type="number">
                  </span></td>
            </tr>
            <tr>
                <td><img src="../assets/images/share/3.jpg" class="one-img"></td>
                <td>Ripper rolls</td>
                <td>0.40</td>
                <td><span>
                    <input style="width: 45px;" type="number">
                  </span></td>
                <td><span>
                    <input style="width: 45px;" type="number">
                  </span></td>
            </tr>
            <tr>
                <td><img src="../assets/images/share/4.jpg" class="one-img"></td>
                <td>Ripper rolls</td>
                <td>0.40</td>
                <td><span>
                    <input style="width: 45px;" type="number">
                  </span></td>
                <td><span>
                    <input style="width: 45px;" type="number">
                  </span></td>
            </tr>
            <tr>
                <td><img src="../assets/images/share/5.jpg" class="one-img"></td>
                <td>Ripper rolls</td>
                <td>0.40</td>
                <td><span>
                    <input style="width: 45px;" type="number">
                  </span></td>
                <td><span>
                    <input style="width: 45px;" type="number">
                  </span></td>
            </tr>
        </tbody>
    </table>
    <table class="table tbl">
        <thead>
            <th>Sweet Baked goods</th>
            <th> </th>
            <th> </th>
            <th>Sat</th>
            <th>Sun</th>
        </thead>
        <tbody>
            <tr>
                <td><img src="../assets/images/share/1.jpg" class="one-img"></td>
                <td>Ripper rolls</td>
                <td>0.40</td>
                <td><span>
                    <input style="width: 45px;" type="number">
                  </span></td>
                <td><span>
                    <input style="width: 45px;" type="number">
                  </span></td>
            </tr>
            <tr>
                <td><img src="../assets/images/share/2.jpg" class="one-img"></td>
                <td>Ripper rolls</td>
                <td>0.40</td>
                <td><span>
                    <input style="width: 45px;" type="number">
                  </span></td>
                <td><span>
                    <input style="width: 45px;" type="number">
                  </span></td>
            </tr>
            <tr>
                <td><img src="../assets/images/share/3.jpg" class="one-img"></td>
                <td>Ripper rolls</td>
                <td>0.40</td>
                <td><span>
                    <input style="width: 45px;" type="number">
                  </span></td>
                <td><span>
                    <input style="width: 45px;" type="number">
                  </span></td>
            </tr>
            <tr>
                <td><img src="../assets/images/share/4.jpg" class="one-img"></td>
                <td>Ripper rolls</td>
                <td>0.40</td>
                <td><span>
                    <input style="width: 45px;" type="number">
                  </span></td>
                <td><span>
                    <input style="width: 45px;" type="number">
                  </span></td>
            </tr>
            <tr>
                <td><img src="../assets/images/share/5.jpg" class="one-img"></td>
                <td>Ripper rolls</td>
                <td>0.40</td>
                <td><span>
                    <input style="width: 45px;" type="number">
                  </span></td>
                <td><span>
                    <input style="width: 45px;" type="number">
                  </span></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row my-3 mx-0">
    <button class="a-button">Create a changeable order</button>
</div>
<div class="row m-0">
    <span class="infoicon"><i class="fa fa-info"></i></span>
    <div class="infobox">
        <p>All prices include the saturday value-added tax of currently
            5%. The bread rolls are baked by plucker GmbH backery. </p>
        <h5>Delivery Charges:</h5>
        <p>
            <span> Working days:1:10 EUR</span>
            <span class="mx-3"> Saturday:1:10 EUR</span><br>
            <span> Sunday:1:10 EUR</span>

        </p>
    </div>
</div>
