<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 right-line">
                <a href="#"><img src="../assets/images/footer-logo.png" class="footer-logo"></a>
                <p class="my-0 ">Copyright © 2020 Brotchengold</p>
            </div>
            <div class="col-md-3 f-pad">
                <ul class="fm-list">
                    <li><a [routerLink]="['about-us']">About</a></li>
                    <li><a [routerLink]="['auth/login']">Login</a></li>
                    <li><a [routerLink]="['franchies']">Franchies</a></li>
                    <li><a [routerLink]="['home']">Online Journal</a></li>
                    <li><a [routerLink]="['breakfast']">Breakfast Service</a></li>
                </ul>
            </div>
            <div class="col-md-3 f-pad">
                <ul class="fm-list">
                    <li><a [routerLink]="['home']">Explore More</a></li>
                    <li><a [routerLink]="['imprint']">Imprint</a></li>
                    <li><a [routerLink]="['data-protection']">Data Protection</a></li>
                    <li><a [routerLink]="['data-protection']">Privacy Policy</a></li>
                    <li><a [routerLink]="['faq']">Important Question</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Keep in Touch</h4>
                <img src="../assets/images/icons/face-icon.png" class="mr-3 mtop">
                <img src="../assets/images/icons/link-icon.png" class="mr-3 mtop">
                <img src="../assets/images/icons/twiter-icon.png" class="mr-3 mtop">
            </div>
        </div>
    </div>
</div>