<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 right-line">
                <img src="../assets/images/brotchengoldlogo.png" class="footer-logo">
                <p class="my-2 ">Copyright © 2020 Brotchengold</p>
            </div>
            <div class="col-md-3 f-pad">
                <ul class="fm-list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Franchies</a></li>
                    <li><a href="#">Online Journal</a></li>
                    <li><a href="#">Breakfast Service</a></li>
                </ul>
            </div>
            <div class="col-md-3 f-pad">
                <ul class="fm-list">
                    <li><a href="#">Explore More</a></li>
                    <li><a href="#">Imprint</a></li>
                    <li><a href="#">Data Protection</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Important Question</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Keep in Touch</h4>
                <img src="../assets/images/icons/face-icon.png" class="mr-3 mtop">
                <img src="../assets/images/icons/link-icon.png" class="mr-3 mtop">
                <img src="../assets/images/icons/twiter-icon.png" class="mr-3 mtop">
            </div>
        </div>
    </div>
</div>