<h3>Conatct & Support</h3>
<p>Wellcome to the support area. Here you can conatct us or get support. Simply use the New Inquire buttons
    and select the desired topic. 
</p>

<button class="a-button my-4">New Request</button>

<div class="row my-4 mx-0">
    <table class="table">
        <thead>
            <th >Created On</th>
            <th>Subject</th>
            <th>Status</th>
            <th></th>
        </thead>
        <tbody>
            <tr class="tb-row">
            <td>12/02/21</td>
            <td>Orded 124</td>
            <td>Done</td>
            <td class="text-right mr-2"><i class="fa fa-eye black"></i></td>
        </tr>
        </tbody>
    </table>
</div>